header {
    width: 100%;
    text-align: center;
    background-color: rgb(81, 198, 81);
    padding: 20px;
    font-size: larger;
}

body {
    background-color: white;
    justify-content: center;
    align-items: center;
    background-color: rgb(230, 230, 55);
}

.login-container {
    background: white;
    padding: 30px;
    border-radius: 10px;
    width: 300px;
    margin-left: 550px;
    margin-top: 100px;
    text-align: center;
}

button {
    width: 100%;
    padding: 10px;
    background-color: lightblue;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: blue;
}

